In [ ]:
!pip install google-cloud-bigquery

In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "./dav-proj.json"

In [2]:
from google.cloud import bigquery
import pandas as pd

In [3]:
client = bigquery.Client()

query = """
SELECT 
  *
FROM
  `bigquery-public-data.crypto_ethereum.contracts`
LIMIT 5;
"""

In [5]:
query_job = client.query(query)

iterator = query_job.result(timeout=30)
rows = list(iterator)

# Transform the rows into a nice pandas dataframe
df = pd.DataFrame(data=[list(x.values()) for x in rows], columns=list(rows[0].keys()))

# Look at the first 5
df.head(5)

,address,bytecode,function_sighashes,is_erc20,is_erc721,block_timestamp,block_number,block_hash
0,0xef49df92cbbeb1b9caf0506c39964b0896912345,0x60606040525b603c5b60006010603e565b9050593681...,[],False,False,2017-07-17 14:29:35+00:00,4035100,0xc4047ea1aa4262d342879ee54b8b96b8f0caadd6cc93...
1,0x49026e508c96f9ef9823942cc97a86aa9d213b88,0x60606040525b603c5b60006010603e565b9050593681...,[],False,False,2017-07-17 14:29:35+00:00,4035100,0xc4047ea1aa4262d342879ee54b8b96b8f0caadd6cc93...
2,0x52f0117651b8ff6b68c5469b7ae5abe90a4b6149,0x60606040525b603c5b60006010603e565b9050593681...,[],False,False,2017-07-17 14:29:35+00:00,4035100,0xc4047ea1aa4262d342879ee54b8b96b8f0caadd6cc93...
3,0x8760c3b40ffda178026437d131dccd314d3c129b,0x60606040525b603c5b60006010603e565b9050593681...,[],False,False,2017-07-17 14:29:35+00:00,4035100,0xc4047ea1aa4262d342879ee54b8b96b8f0caadd6cc93...
4,0xa89c4bd7828557aff6afa802bb29d4b8fe14ad57,0x60606040525b603c5b60006010603e565b9050593681...,[],False,False,2017-07-17 14:29:35+00:00,4035100,0xc4047ea1aa4262d342879ee54b8b96b8f0caadd6cc93...